.sizeoptions select{
    border: none;
    width: 70px;
    /* background-color: wheat; */
}
.sizeoptions select :active{
    border: none;
}
.sizeoptions{
    display: flex;
    justify-content: flex-end;
}
.sizeoptions span{
    margin-top: 5px;
    font-weight: 500;
}
.paging{
    display: flex;
    flex-direction: row;
}
