  
  <div class="sizeoptions">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
     
    <button routerLink="/form-display" class="btn btn-light active" routerLinkActive="active" (click)="viewActiveUsers()">Active Users</button>
    <button class="btn btn-light " routerLinkActive="aactive" (click)="viewDeletedUsers()">Deleted Users</button>
  </div>
    <span>Show Entries </span>
    <select class="form-select" aria-label="Default select example" (change)="onPageSizeChanged($event)">
      <option *ngFor="let size of tableSizes">{{ size }}</option>
    </select>
  </div>
    <ag-grid-angular
    class="ag-theme-alpine" 
    style="height: 500px;width:1100px; background-color: white;"
    [gridOptions]="gridOptions"
    [rowData]="formData"
    [columnDefs]="colDefs"
    >
  </ag-grid-angular>