.sizeoptions select{
    border: none;
    width: 70px;
    /* background-color: wheat; */
}
button:focus{
    background-color: lightgray;
}
.sizeoptions select :active{
    border: none;
}
.sizeoptions{
    display: flex;
    justify-content: center;
}
.sizeoptions span{
    margin-top: 5px;
    font-weight: 500;
}