
.radio-button{
    margin-left: 40px;
}
.fields{
    margin-top: 20px;  
}
.form{
    background-color: whitesmoke;
    border-radius: 10px;
    margin-top: 20px;
}
.fieldbtn{
    display: flex;
    gap: 2px;
}
.errordiv{
    position: absolute;
}
.formdiv{
    margin-top: 20px;
}
.inputbtn{
    margin-top: 30px;
}
.formdiv input{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
