<div class="container-fluid">
    <div class="row">
      <div class="col-md-4 fields">
        <div  *ngFor="let field of fields">
          <input
            class="form-check-input"
            type="checkbox"
            id="{{ field.id }}"
            [(ngModel)]="field.selected"
            (change)="updateSelectedFields()"
            [disabled]="field.fixed"
          />
          <label class="form-check-label" for="{{ field.id }}" 
          >{{ field.name }}</label>
          <div *ngIf="field.name === 'Gender' && field.selected">
            <label>Choose Gender:</label>
            <div class="form-check" *ngFor="let option of Gender">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="{{field.id }}"
                  [(ngModel)]="option.selected"
                  (change)="updateGender()"
                />
                <label class="form-check-label" for="{{field.id }}">{{ option.name }}</label>
              </div>
          </div>
          <div *ngIf="field.name === 'Address' && field.selected">
            <label>Choose:</label>
            <div class="form-check" *ngFor="let option of  Address">
            <input
                class="form-check-input"
                type="checkbox"
                id="{{field.id}}"
                [(ngModel)]="option.selected"
                (change)="updateAddress()"
              />
              <label class="form-check-label" for="{{field.id }}">{{option.name}}</label>
            </div>
          </div>
          <div *ngIf="field.name === 'Siblings' && field.selected">
            <div class="form-check" *ngFor="let option of Siblings">
            <input
                class="form-check-input"
                type="checkbox"
                id="{{field.id}}"
                [(ngModel)]="option.selected"
                (change)="updateSiblings()"
              />
              <label class="form-check-label" for="{{field.id }}">{{option.name}}</label>
            </div>
          </div>
          <div class="form-check-inline">
            <input 
              class="form-check-input"
              type="radio"
              id="{{field.id }}Mandatory"
              name="{{field.id }}"
              [(ngModel)]="field.mandatory"
              [value]="true"
              [disabled]="!field.selected"
            />
            <label class="form-check-label" for="{{field.id}}Mandatory">Mandatory</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input"
              type="radio"
              id="{{field.id}}NotMandatory"
              name="{{field.id}}"
              [(ngModel)]="field.mandatory"
              [value]="false"
              [disabled]="!field.selected"
              />
            <label class="form-check-label" for="{{field.id}}NotMandatory">Not Mandatory</label>
          </div>
         </div>
         <div class="fieldbtn">
         <button (click)="cancelbtn()" class="btn btn-light">Cancel</button>
         <button (click)="resetbtn()" class="btn btn-dark">Reset</button>
         <button (click)="savebtn()" class="btn btn-dark">Save</button>
        </div>
      </div>
      <div class="col-md-8 form">
        <div class="selected-fields">
          <form  [formGroup]="dynamicForm" (ngSubmit)="saveform()">
          <div class="formfields formdiv" *ngFor="let field of selectedFields">
            <div class="row">
                <div class="col-md-4">
                <label>{{ field.name }}
                  <span *ngIf="field.mandatory" class="text-danger">*</span>
                </label>
                <ng-container *ngIf="field.name !== 'Gender' && field.name !== 'Address' && field.name !== 'Siblings'">
                    <input  [formControlName]="field.name" class="form-control " [(ngModel)]="field.value" [type]="field.type" [required]="field.mandatory"
             />
                    <div *ngIf="dynamicForm.get(field.name)?.touched && dynamicForm.get(field.name)?.invalid &&field.mandatory" class="text-danger errordiv">This field is mandatory</div>
                  </ng-container>
                  <ng-container>
                    <div *ngIf="field.name==='AadharNo'">
                    <div *ngIf="!field.mandatory&& formSubmitted && dynamicForm.get('AadharNo')?.hasError('invalidAadhaarNumber')" class="text-danger">
                      Invalid Aadhaar number
                    </div>
                  </div>
                </ng-container>
                <ng-container>
                  <div *ngIf="field.name==='Email'">
                    <div *ngIf="!field.mandatory&&formSubmitted && dynamicForm.get('Email')?.hasError('email')" class="text-danger">
                      Invalid email
                    </div>
                  </div>
                </ng-container>
                <ng-container>
                  <div *ngIf="field.name==='PANNo'">
                    <div *ngIf="!field.mandatory&&formSubmitted&& dynamicForm.get('PANNo')?.hasError('invalidPanNumber')" class="text-danger">
                      Invalid PAN number
                    </div>
                  </div>
                </ng-container>
                <ng-container>
                  <div *ngIf="field.name==='DrivingLicense'">
                    <div *ngIf="!field.mandatory&&formSubmitted && dynamicForm.get('DrivingLicense')?.hasError('invalidDrivingLicense')" class="text-danger">
                      Invalid Driving License 
                    </div>
                  </div>
                </ng-container>
                  <ng-container *ngIf="field.name === 'Gender'">
                    <select class="form-control custom-select" id="inputGroupSelect01" [required]="field.mandatory">
                        <option value="" selected>Choose</option>
                        <option  *ngFor="let gender of genderSelected" [value]="field.value">{{gender.name}}</option> 
                    </select>
                  </ng-container>
                  <ng-container *ngIf="field.name === 'Address'">
                    <div *ngFor="let address of addressSelected">
                    <label>{{address.name}} Address</label>
                    <input [id]="address.id"  class="form-control" [required]="field.mandatory" [(ngModel)]="address.value" [type]="field.type" />
                    </div>
                  </ng-container>
                  <ng-container *ngIf="field.name === 'Siblings'">
                    <div *ngFor="let sibling of siblingSelected">
                    <label>Enter number of {{sibling.name}} Siblings</label>
                    <input *ngIf="sibling.name==='Male'" formControlName="Siblings" [id]="siblingSelected.id" (change)="getCount()" type="number"  class="form-control" [(ngModel)]="Malecount" />
                    <input *ngIf="sibling.name==='Female'" formControlName="Siblings" [id]="siblingSelected.id" (change)="getCount()" type="number"  class="form-control" [(ngModel)]="FemaleCount" />
                    <!-- <button  (click)="generateInputFields()">Generate Fields</button> -->
                  </div>
                  <div *ngFor="let fieldValue of inputFieldValues">
                    <label for="">Name of Male siblings</label>
                    <input  class="form-control" type="text" [(ngModel)]="fieldValue.value" />
                  </div>
                  <div *ngFor="let fieldValue of inputFieldValue">
                    <label for="">Name of Female siblings</label>
                    <input class="form-control" type="text" [(ngModel)]="fieldValue.value" />
                  </div>
                  </ng-container>
              </div>
            </div>
           </div>
           <div class="inputbtn">
            <button class="btn btn-light">Cancel</button>
            <button type="submit" class="btn btn-dark">Save</button>
          </div>
        </form>
            </div>
          </div>
        </div>
      </div>
  